<div class="alerts-bg">

  <app-side-navbar></app-side-navbar>

  <div class="alerts-main">
    <app-language-switcher></app-language-switcher>

    <div class="alerts-container mat-typography">
      <app-alert-list
        [stockAlerts]="stockAlerts"
        [expirationAlerts]="expirationAlerts"
        [backendLoading]="backendLoading"
        [backendErrorMsg]="backendErrorMsg"
        [getSeverityColor]="getSeverityColor.bind(this)"
        [getSeverityIcon]="getSeverityIcon.bind(this)"
        [getMinimumStock]="getMinimumStock"
      ></app-alert-list>
    </div>
  </div>

</div>