<div class="alerts-bg">

  <app-side-navbar/>

  <div class="alerts-main">

    <app-tool-bar [titleKey]="'alerts.title'"></app-tool-bar>

    <div class="alerts-container mat-typography">
      <div class="cards-wrapper">
        <app-alert-list
          [stockAlerts]="stockAlerts"
          [expirationAlerts]="expirationAlerts"
          [backendLoading]="backendLoading"
          [backendErrorMsg]="backendErrorMsg"
          [getSeverityColor]="getSeverityColor.bind(this)"
          [getSeverityIcon]="getSeverityIcon.bind(this)"
          [getMinimumStock]="getMinimumStock"
        >
        </app-alert-list>
      </div>
    </div>

  </div>

</div>