
<div class="recover-container">
  <div class="recover-header">
    <h2>Recover password</h2>
  </div>
  <p class="recover-description">
    Enter your email address. We'll send you a message to recover your account.
  </p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <input matInput placeholder="Email" formControlName="email" type="email" />
    </mat-form-field>


    <button class="send-button-recover" type="submit" [disabled]="form.invalid">
      Send
    </button>
  </form>
</div>
