.map-container {
  padding-top: 10px;
  background-color: #ffffff;
}

mat-dialog-actions {
  justify-content: flex-end;

  .buton-map {
    margin-top: 10px;
    background-color: #890E4F;
    color: #fff;
    font-size: 16px;
  }
}