<section class="plans-container">
  <h2 class="plans-title">Plans</h2>
  <div class="plans">
    <div class="plan-card free">
      <h3>Free</h3>

      <ul>
        <li>Seguimiento del inventario</li>
        <li>Guías de almacenamiento</li>
        <li>Alertas básicas</li>
      </ul>
    </div>

    <div class="plan-card premium">
      <h3>Premium</h3>
      <p class="price">S/. 19.90</p>
      <ul>
        <li>Soporte prioritario</li>
        <li>Alertas personalizadas</li>
      </ul>
    </div>
  </div>
</section>