.plans-container {
  background-color: #f4ede3;
  padding: 40px 20px;
  text-align: center;
}

.plans-title {
  color: #8E24AA;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}

.plans {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.plan-card {
  margin-top: 40px;
  border-radius: 16px;
  padding: 30px 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.plan-card h3 {
  margin-bottom: 60px;
  font-size: 2.5rem;
}

.plan-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-card li {
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.free {

  border: 8px solid #8E24AA;
  color: #8E24AA;
  background-color: #ffffff;
  border-radius: 45px;
}

.premium {
  background-color: #273238;
  color: #ffffff;
  border-radius: 45px;
}

.premium .price {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 20px;
}